.hero-section {
    position: relative;
    top: 50vh;
    overflow: hidden;
    font: 900 2vw/1 sans-serif;
    min-height: 10vh;
}
/* marquee */
.marquee-container {
    overflow: hidden;
}

.marquee {
    display: flex;
    position: relative;
}

.marquee-content {
    display: flex;
    flex-shrink: 0;
}

.marquee-item {
    font-size: 5em;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 0 20px;
}

/* pricing */
.check-icon::before {
    content: "\2022";
    color: #4F46E5;
    font-size: 2.5em;
    line-height: 0;
}

.pricing-column {
    border-radius: 8px;
    overflow: hidden;
}

.feature-row:not(:last-child) {
    border-bottom: 2px solid black;
    text-align: center;
}