:root {
    --primary-color: navy;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

i {
    color: #4CAF50; /* Warna ikon hijau */
    font-size: 1.5em; /* Ukuran ikon */
    margin-left: 8px;
}
